Country_TFAR_Template.aux
Country_TFAR_Template.log
.Rhistory
.Rproj.user
Report_template.Rproj
2023/Report_template/Country_TFAR_Template.log
2023/Report_template/Country_TFAR_Template.aux
2023/Report_template/Country_TFAR_Template.tex
